* {
    margin: 0px;
    border: border-box;
    padding: 0px;
    border: none
}

.navbar {
    background-color: #0f1111;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 50px;
    width: 115px;
    background-image: url(photos/amazon_logo.png);
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.adress {
    display: flex;
}

.adress1 {
    color: #cccccc;
    font-size: 12px;
}

.adress2 {
    font-size: 14px;
}

#loc {
    font-size: 20px;
    padding-top: 8px;
    padding-right: 2px
}

.search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 700px;
    border-radius: 10px;
}

.search:hover {
    border: 2px solid orange;
}

.search1 {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search2 {
    height: 40px;
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search3 {
    height: 40px;
    width: 45px;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: black;
}

.signin {
    display: flex;
    flex-direction: column;
}

.line1 {
    font-size: 12px;
}

.line2 {
    font-size: 14px;
    font-weight: 700;
}

.ro {
    display: flex;
    flex-direction: column;
}

.return {
    font-size: 12px;
}

.order {
    font-size: 14px;
    font-weight: 700;
}

.cart {
    display: flex;
}

#cart1 {
    font-size: 1.5rem;
}

.cart2 {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 700;
}