* {
    margin: 0px;
    border: border-box;
    padding: 0px;
    border: none
}

.navbar {
    background-color: #0f1111;
    color: white;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 3.33vw;
    width: 7.67vw;
    background-image: url(photos/amazon_logo.png);
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.adress {
    height: 3.8vw;
    display: flex;
    align-items: center;
}

.adress1 {
    color: #cccccc;
    font-size: 0.93vw;
}

.adress2 {
    font-size: 1.1vw;
}

#loc {
    font-size: 1.33vw;
    padding-top: 0.533vw;
    padding-right: 0.133vw;
    margin-right: 0.3vw;
}

.search {
    display: flex;
    align-items: center;
    height: 2.67vw;
    width: 46.67vw;
    border-radius: 0.67vw;
    border: 2px solid transparent;
}

.search:hover {
    border: 2px solid orange;
}

.search1 {
    background-color: #f3f3f3;
    width: 3vw;
    height: 2.67vw;
    border-top-left-radius: 0.267vw;
    border-bottom-left-radius: 0.267vw;
    border: none;
}

select {
    font-size: 1.2vw;
    text-align: center;
    appearance: none;
}

select:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#dropdown {
    display: flex;
    align-items: center;
    height: 2.67vw;
    background-color: #f3f3f3;
    color: #0f1111;
    font-size: 1.5vw;
}

.search2 {
    height: 2.67vw;
    width: 100%;
    border: none;
    font-size: 1.33vw;
}

.search3 {
    height: 2.67vw;
    width: 3.75vw;
    background-color: orange;
    border-top-right-radius: 0.267vw;
    border-bottom-right-radius: 0.267vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.55vw;
    color: black;
}

.flang {
    display: flex;
    align-items: center;
    height: 3.8vw;

    .flag {
        width: 1.8vw;
        height: 1.3vw;
        border-radius: 20%;
        margin-right: 0.3vw;
    }

    select {
        height: 1.8vw;
        background-color: #0f1111;
        color: white;
        font-size: 1.2vw
    }
}

.flag {
    background-image: url(photos/flagicon.png);
    background-size: cover;
}

.langarrow{
    background-color: #0f1111;
    font-size: 1.2vw;
}

.signin {
    height: 3.8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line1 {
    font-size: 0.933vw;
}

.line2 {
    font-size: 1.1vw;
    font-weight: 700;
}

.ro {
    height: 3.8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.return {
    font-size: 0.933vw;
}

.order {
    font-size: 1.1vw;
    font-weight: 700;
}

.cart {
    height: 3.8vw;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#cart1 {
    font-size: 1.9vw;
    margin-right: 0.3vw;
}

.cart2 {
    padding-top: 0.667vw;
    font-size: 1.2vw;
    font-weight: 600;
}

.row2 {
    background-color: #222f3d;
    width: 100%;
    height: 2.67vw;
    display: flex;
    align-items: center;
}

.row2 div {
    padding: 0.6vw;
}

.row2 div p {
    color: white;
    font-size: 1.1vw;
}

.row2 div i {
    color: white;
    font-size: 1.5vw;
}

.box1 {
    height: 1.4vw;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.box1 p {
    font-size: 1.1vw;
    font-weight: 700;
    padding-left: 0.33vw;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(photos/hero_image.jpg);
    background-size: cover;
    width: 100%;
    height: 23.33vw;
}

.hero div {
    background-color: white;
    margin-bottom: 1.33vw;
    width: 90%;
    text-align: center;
    padding: 0.933vw;
}

.hero div p {
    font-size: 1.1vw;
}

.hero div p a {
    color: #2162a1;
    text-decoration: none;
}

.main {
    width: 100vw;
    background-color: #f3f3f3;
    height: 68vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.mainbox {
    width: 22.5vw;
    height: 30vw;
    padding: 0.75vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;

    p {
        font-size: 2vw;
        color: black;
    }

    div {
        font-size: 1.1vw;
        color: black
    }
}

.inside2 {
    margin: 0.5vw;
    flex-grow: 1;
}

a {
    text-decoration: none;
}

#image1 {
    background-image: url(photos/image1.jpg);
    background-size: cover;
}

#image2 {
    background-image: url(photos/image2.jpg);
    background-size: cover;
}

#image3 {
    background-image: url(photos/image3.jpg);
    background-size: cover;
}

#image4 {
    background-image: url(photos/box2_image.jpg);
    background-size: cover;
}

#image5 {
    background-image: url(photos/box5_image.jpg);
    background-size: cover;
}

#image6 {
    background-image: url(photos/box7_image.jpg);
    background-size: cover;
}

#image7 {
    background-image: url(photos/box4_image.jpg);
    background-size: cover;
}

#image8 {
    background-image: url(photos/box8_image.jpg);
    background-size: cover;
}

.foot1 {
    padding: 1vw 0px 1vw;
    background-color: #374751;
    text-align: center;
    font-size: 1.33vw;
    height: 1.5vw;

    a {
        text-decoration: none;
        color: white;
    }
}

.foot1:hover {
    background-color: #222f3daf;
}

.foot2 {
    padding: 2vw 0px 2vw 0px;
    height: 16.67vw;
    display: flex;
    justify-content: center;
    background-color: #222f3d;

    div {
        width: 18%;
        height: 100%;
        margin: 0px 2vw 0px 2vw;

        a {
            font-size: 1.1vw;
        }

        p {
            font-size: 1.3vw;
            font-weight: 700;
        }
    }

    .c {
        display: flex;
        flex-direction: column;
        color: white;

        a {
            color: white;
            text-decoration: none;
            padding-top: 0.67vw;
        }
    }
}

.under:hover {
    text-decoration: underline;
}

.foot2 .under:hover {
    text-decoration: underline;
}

.foot3 {
    background-color: #222f3d;
    display: flex;
    justify-content: center;

    div {
        margin: 0.67vw 0px 0.67vw;
        height: 4.53vw;
        width: 10.4vw;
        background-image: url(photos/amazon_logo.png);
        background-size: cover;
    }
}

.foot4 {
    padding: 0.67vw 0px 2vw;
    background-color: #131a22;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        margin: 0.33vw 1.33vw 0.33vw 1.33vw;
        color: white;
        text-decoration: none;
    }

    .last1 {
        height: 100%;
        font-size: 1.1vw;
        margin-bottom: 0.5vw;
    }

    .last2 {
        height: 100%;
        font-size: 1.1vw;
    }
}

@media(max-width:1100px) {
    .main {
        width: 100vw;
        height: 85vw;

    }

    .mainbox {
        width: 30vw;
        height: 37.6vw;
    }

    #shop4 {
        display: none;
    }

    #shop8 {
        display: none;
    }
}